
.welcome-message{
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    background-color: #1cef1c;
    color: black;
    border-radius: 8px;
    padding: 9px; 
    margin: 0px;
}

.login-prompt{
  font-size: 2.5em;
    font-family: Arial, sans-serif;
    background-color: red;
    color: black;
    border-radius: 8px;
    padding: 9px; 
    margin: 0px;
}